@import 'http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css'
@import 'style/normalize.css'
@import 'style/skeleton.css'

html, body, main > div
  width 100%
  height 100%

head, footer
  position absolute
  height 20px

head
  top 0px
  
footer
  bottom 0px
  
main
  left 0px
  right 0px
  top 20px
  bottom 20px
  position absolute